*{
  margin: 0px;
  padding: 0px;
}
/* this is the header section */
.main-container {
 width: 1200px;
 margin: 0 auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  text-align: inherit;
  color: rgb(171, 85, 23);
}
ul.Navbar {
  display: flex;
  list-style: none;
}
 li a {
  margin: 15px;
  text-decoration: none;
  color: aliceblue;
  font-weight: 600;
  font-size: large;
}
.Navbar-container {
  padding: 15px;
}
.header {
  background-color: black;
}
a:hover {
  
  color: chocolate;
}
/* this is the body section */
.image-container img {
  width: 100%;
}

.bg-dark {
  background-color: #0F172B !important;
}
.image-container {
  position: absolute;
}
.head-container {
  position: relative;
  display: flex;
  padding-top: 10%;
}
.circel-container img {
  width: 550px;
}
.main-content h1 {
  font-size: xxx-large;
  font-family: cursive;
  color: honeydew;
}

.main-content p {
  color: floralwhite;
  font-weight: 600;
  font-family: sans-serif;
  font-size: large;
}
/* this is the counter project */
.counter {
  text-align: center;
  margin-top: 50px;
}
.button-container {
  display: flex;
  justify-content: center;
}
button {
  margin: 10px;
  background-color: darkviolet;
  color: aliceblue;
  font-size: x-large;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.timer {
  text-align: center;
}
.clock {
  text-align: center;
}